@use "./collection" as col;

body {
  font-family: map-get(col.$font_family, "alta");
  font-size: col.$font_size;
  color: map-get(col.$colors, "primarydarkGray");
}

main {
  padding: 5rem 0;
  @include col.flex-layout(column, map-get(col.$spacing, "48px"));

  @media (min-width: 992px) {
    padding: 5rem 0;
    gap: 10rem;
  }
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links {
  text-decoration: none;
  color: map-get(col.$colors, "primaryWhite");
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0);

  @include col.transition(border-color);
  padding-bottom: 8px;

  &:hover {
    border-color: map-get(col.$colors, "primaryWhite");
  }
}

//Show responsive elements
.desktop {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.mobile {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
}

//component Navigation.tsx
.navigation {
  @include col.flex-layout(row, map-get(col.$spacing, "32px"));
}

//Header
.header {
  background-image: url("../assets/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__dropdown {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    padding: 10rem;
    padding-inline: 0;
    max-width: 0;
    overflow: hidden;

    @include col.transition(max-width);

    &.enter-active,
    &.enter-done {
      max-width: 100%;
    }

    a {
      @include col.font-styling(
        map-get(col.$font_family, "josefin"),
        map-get(col.$font_weight, 300),
        1.5rem,
        uppercase,
        1.5
      );
    }
  }

  &__list {
    @include col.flex-layout(column, map-get(col.$spacing, "16px"));
  }

  &__hero-container {
    &__nav {
      position: relative;
      z-index: 2;
      @include col.flex-layout();
      justify-content: space-between;
      padding-top: 2rem;
    }

    &__hero-header {
      padding: 10rem 0;
      h1 {
        color: map-get(col.$colors, "primaryWhite");

        @include col.font-styling(
          map-get(col.$font_family, "josefin"),
          map-get(col.$font_weight, 300),
          clamp(32px, 5vw, 80px),
          uppercase,
          1
        );

        border: 2px solid white;
        padding: 2rem 1rem;
      }
    }
  }

  @media (min-width: 992px) {
    background-image: url("../assets/images/desktop/image-hero.jpg");
  }
}

//Main content
.section {
  text-align: center;
  padding: 2rem auto;
  &__heading {
    color: map-get(col.$colors, "primaryblack");

    @include col.font-styling(
      map-get(col.$font_family, "josefin"),
      map-get(col.$font_weight, 300),
      map-get(col.$spacing, "32px"),
      uppercase,
      1
    );
  }
  @media (min-width: 992px) {
    text-align: start;
  }
}

//Sections
.leader-vr {
  @include col.flex-layout(column, map-get(col.$spacing, "32px"));

  @media (min-width: 992px) {
    flex-direction: row;
    position: relative;

    &__info {
      background-color: map-get(col.$colors, "primaryWhite");
      padding-inline: 4rem;
      padding-top: 2rem;
      position: absolute;
      bottom: 0;
    }
  }
}

.our-creation {
  @include col.flex-layout(column, map-get(col.$spacing, "32px"));

  &__heading {
    @include col.flex-layout();
    justify-content: center;
    align-items: end;
    margin: 0;

    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }

  &__list {
    @include col.flex-layout(column, map-get(col.$spacing, "32px"));

    &__card {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 1) 150%
        );
      }

      &__header {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        color: map-get(col.$colors, "primaryWhite");
        z-index: 1;

        h3 {
          margin: 0;
          text-align: start;

          @include col.font-styling(
            map-get(col.$font_family, "josefin"),
            map-get(col.$font_weight, 300),
            1.5rem,
            uppercase
          );
        }
      }

      img {
        width: 100%;
      }
    }

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      &__card {
        padding: 0;
        &::after {
          transition: background 350ms ease-in-out, color 350ms ease-in-out;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 1) 150%
          );
        }
        &:hover {
          &::after {
            background: none;
            background-color: rgba(255, 255, 255, 0.75);
          }
          h3 {
            color: map-get(col.$colors, "primaryblack");
          }
        }
      }
    }
  }

  &__see-all-btn {
    border: 2px solid map-get(col.$colors, "secondaryVeryDarkGray");
    background-color: map-get(col.$colors, "primaryWhite");
    text-transform: uppercase;

    font-size: col.$font_size;
    padding: 0.5rem 2rem;
    letter-spacing: 4px;
    margin-inline: auto;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;

    &:hover {
      background-color: map-get(col.$colors, "primaryblack");
      color: map-get(col.$colors, "primaryWhite");
    }

    @media (min-width: 992px) {
      margin-inline: 0;
    }
  }
}

//Footer
.footer {
  background-color: map-get(col.$colors, "primaryblack");

  &__container {
    @include col.flex-layout(column, map-get(col.$spacing, "16px"));
    padding: 2rem 0;
    justify-content: center;
    text-align: center;

    &__nav {
      @include col.flex-layout(column, map-get(col.$spacing, "16px"));
    }

    &__socials {
      @include col.flex-layout(row, map-get(col.$spacing, "16px"));
      justify-content: center;
    }

    &__section {
      @include col.flex-layout(column, map-get(col.$spacing, "16px"));
    }

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;

      &__socials {
        justify-content: end;
      }

      &__section {
        text-align: start;
        gap: map-get(col.$spacing, "8px");
      }
    }
  }
}
